/* Testing 740 - 600 range! */
@media only screen and (max-width: 830px) {
  html,
  body {
    font-size: 12px;
  }

  .list-3 {
    font-size: 1rem;
    position: relative;
    right: 1rem;
  }

  header h1 {
    font-family: "Protest Guerrilla", sans-serif;
  }
}

/** Wide monitor tings!! */
@media only screen and (min-width: 1750px) {
  .list-3 {
    position: relative;
    left: 2rem;
  }
}
