/* 600 and Below Range! */
@media only screen and (max-width: 600px) {
    html,
    body {
      font-size: 8px;
    }

    .counterr-div h1 {
      font-size: 0.7rem;
    }
  
    .list-3 li {
      font-size: 0.75rem;
      position: relative;
      right: 1rem;
    }
  
    .helmet {
      position: relative;
      top: -8rem;
    }

    .helmet-image {
      width: 66rem;
    }

    header h1 {
      font-family: "Protest Guerrilla", sans-serif;
    }
  }

/** Width and Height! */
@media only screen and (max-width: 600px) and (min-height: 1010px) {

    .list-3 {
        position: relative;
        top: 0.875rem;
    }

    #tom-list {
        position: relative;
        top: 1.75rem;
    }
    #james-list {
    position: relative;
    top: 2.625rem;        
    }


}